<table>
    <thead>
        <tr>
          <th>Name</th>
          <th>Code</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let city of citys">
        <td>{{ city.name }}</td>
        <td>{{ city.code }}</td>
      </tr>
    </tbody>
  </table>
<br>
<label>choose city code: </label>
<input  [(ngModel)]="cityCode" type="text">
<button type="button" (click)="choose()">choose</button><br>
<p *ngFor = "let city of citys"><span *ngIf="city.code == cityCode">
{{city.name}}</span></p>
<p>{{cityCode}}</p>



