<p>you choose : {{cityCode}}</p>


<div>
  <iframe *ngIf="cityCode == 'BL'" src="http://tunein.com/embed/player/s138027/" style="width:100%; height:100px;" scrolling="no" frameborder="no"></iframe>
  <iframe *ngIf="cityCode == 'HE'" src="http://tunein.com/embed/player/s109975/" style="width:100%; height:100px;" scrolling="no" frameborder="no"></iframe>
  <iframe *ngIf="cityCode == 'HE'" src="http://tunein.com/embed/player/s183070/" style="width:100%; height:100px;" scrolling="no" frameborder="no"></iframe>
  <iframe *ngIf="cityCode == 'RA'" src="http://tunein.com/embed/player/s150874/" style="width:100%; height:100px;" scrolling="no" frameborder="no"></iframe>
  <iframe *ngIf="cityCode == 'NA'" src="http://tunein.com/embed/player/s183070/" style="width:100%; height:100px;" scrolling="no" frameborder="no"></iframe>
  <iframe *ngIf="cityCode == 'JU'" src="http://tunein.com/embed/player/s17630/" style="width:100%; height:100px;" scrolling="no" frameborder="no"></iframe>
</div>
<!-- <div *ngFor = "let city of citys">
  <span *ngIf="cityCode == city.code">{{city.name}}
    <span *ngFor = "let station of stations">
      <span *ngIf="station.code == cityCode">{{station.name}}
        <iframe [src]="station.link" style="width:100%; height:100px;" scrolling="no" frameborder="no"></iframe>
      </span>
    </span>
  </span>
</div> -->
